/* BELLOW 1334px (Smaller desktops) */
@media (max-width :84em) {
    .container {
        max-width: 50rem;
    }
}

/* BELLOW px (Phones) */
@media (max-width :34em) {
    .container {
        max-width: 50rem;
        width: 100%;
        border-radius: 0.375rem;
        padding: 1.875rem;
    }

    .container form {
        min-height: 15.625rem;
    }

    .container form .details {
        margin-top: 0.625rem;
    }

    .container header {
        font-size: 1.7rem;
    }

    .container form .fields .input-field {
        width: 100%;
    }

    .container button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .input-field label {
        font-size: 1.25rem;
    }

    .input-field span {
        font-size: 1.25rem;
    }

    .input-field select {
        height: 2.625rem;
    }

    .input-field input {
        height: 2.625rem;
    }
}