* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    width: 50%;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: 70%;
}

.user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
}

form .buttons {
    width: 960px;
    margin: 0 auto;
    display: inline;
}


form .buttons input {
    display: inline-block;
    height: 10%;
    width: 34%;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .buttons button {
    height: 10%;
    width: 20%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}