.filtering {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #4a625350;
    padding: 0.005rem
}

.filtering label,
.filtering select,
.filtering button {
    margin: 0.5rem;
}

.clickable-row:hover {
    cursor: pointer;
}

.multi-column-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.multi-column-list li {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
}