<!doctype html>
<html dir="rtl" lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'site_base/myshifts.css' %}">

    <style>
        .incomplete-shift {
            color: red !important;
            font-weight: bold;
        }
        .completed-shift {
            color: green !important;
            font-weight: bold;
        }
    </style>

  </head>

<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <deleteButton class="navbar-toggler" type="deleteButton" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </deleteButton>
    <a class="navbar-brand" href="/homepage">DBN</a>

        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if not user.is_superuser %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="/shift">מלא משמרת</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="/myshifts">המשמרות שלי</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">פרופיל</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/employeesinfo">ניהול עובדים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientsinfo">ניהול לקוחות</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employeespermits">אישורי עובדים</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/update_messages">עדכונים</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">התנתק</a>
                </li>
            </ul>
        </div>
  </nav>
  <br>
  <div class="container">
      <form action="/myshifts" method="post">
        {% csrf_token %}
          <div class="filtering">
            <label for="month" class="form-label">חודש</label>
              <select name="month" id="month">
                <option id="month">1</option>
                <option id="month">2</option>
                <option id="month">3</option>
                <option id="month">4</option>
                <option id="month">5</option>
                <option id="month">6</option>
                <option id="month">7</option>
                <option id="month">8</option>
                <option id="month">9</option>
                <option id="month">10</option>
                <option id="month">11</option>
                <option id="month">12</option>
              </select>
            <label for="year" class="form-label">שנה</label>
              <select name="year" id="year">
                <option id="year">2024</option>
                <option id="year">2023</option>
                <option id="year">2022</option>
                <option id="year">2021</option>
              </select>
            <button type="submit" class="btn btn-success">סנן</button>
          </div>
      </form>
    <br>
    <h5>לחץ על תאריך המשמרת על מנת לראות את פרטי המשמרת ולעדכן במקרה הצורך.</h5>
   
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">תאריך</th>
            <th scope="col">מיקום</th>
            <th scope="col">לקוח</th>
            <th scope="col">סטטוס משמרת</th>
          </tr>
        </thead>
        <tbody>
          {% for shift in data %}
            <tr>  
              <td><a href="{% url 'updateshift-view' shift.shift_id  %}">{{shift.shift_start_date_time|date:'j.n.Y'}}</a></td>
              <td>{{ shift.location}}</td>
              <td>{{ shift.client}}</td>
              {% if not shift.shift_end_date_time %}
                <td class="incomplete-shift">לא הושלמה</td>
              {% else %}
                <td class="completed-shift">הושלמה</td>
              {% endif %}
            </tr>
          {%endfor%}
        </tbody>
      </table>
  </div>
</body>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
      function RenderToShiftInfoPage(){ 
          $.ajax({
              url: "{% url 'homepage' %}",
              type: 'GET',
              data:{},
          });
      }

      function UpdateShift(){
        window.location.href = `/editshift-view/${id}`;
      }
  
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

</html>